@media screen and (min-width: 660px) {
  main {
    width: 60rem;
    display: flex;
    flex-direction: row;
    height: 45rem;
  }
  
  #img {
    background: no-repeat center center/cover url("../img/image-product-desktop.jpg");
    width: 30rem;
    height: 100%;
    border-radius: 0.8rem 0 0 0.8rem;
  }
  
  #content {
    width: 30rem;
    padding: 3.2rem;
  }
  
  h1 {
    font-size: 3.2rem;
    padding: 2.1rem 0 2.4rem;
    line-height: 3.2rem;
    width: 90%;
  }
  
  p {
    line-height: 2.3rem;
  }
  
  #price {
    padding: 2.6rem 0 2.4rem;
  }
  
  h2 {
    font-size: 3.2rem;
  }
  
  button {
    padding: 1.4rem 0;
    bottom: 0;
    font-size: 1.3rem;
  }
}
